.my {

    width: 100px;
    height: 100px;
    background-color: pink;
    border: 5px #00000050 solid;

    position: absolute;
    top: 0px;
    left: 0px;

}

.my2 {

    width: 100px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background-color: #0000ff50;
    border: 5px #00000050 solid;

}

.my3 {

    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #00ff0050;
    border: 5px #00000050 solid;
}