:root {

    --font-color: black;
    --black10: #00000010;
    --black20: #00000020;    
    --black30: #00000030;
    --black50: #00000050;
    --tool-bar-height: 66px;
    --comp-panel-width: 100px;
    --prop-panel-width: 77px;
    --status-bar-height: 44px;
}

.app {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* Avoid scollbars when drag a Dnr */
    overflow: hidden;
}

.tool-bar {

    position: absolute;
    background-color: #00000010;
    top: 0;
    left: 0;
    right: 0;
    height: var(--tool-bar-height);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
}

.status-bar {

    position: absolute;
    background-color: #cccccc;   
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--status-bar-height);
    display: flex;
    z-index: 1000;
}

@media only screen and (max-width: 768px) {

    .status-bar {

        background-color: blue;
    }
}


.prop-panel {

    position: absolute;
    background-color: var(--black10);
    top: 100px;
    right: 0;
    bottom: 100px;
    width: var(--prop-panel-width);
    z-index: 100;
}
